* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { 
    font-family: sans-serif;
    background-color: #02010A;
    color: #F7F7F9; 
    margin: 0;
}
h1{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    margin: 0;
}
.monospaced{
    font-family: "mono45-headline", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 10em;
    text-align: center;
    /* word-wrap: break-word; */
}
/* ---- grid ---- */

.grid {
  max-width: 90%;
  margin: 0 auto;
  
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

hr{
    margin-bottom: 20px;
}

.filters-button-group{
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: stretch
}

.button{
    background-color: #02010A;
    border: #F7F7F9;
    color: #F7F7F9;
    padding: 10px 20px;
    border: 2px solid #F7F7F9;
   
}
.button.is-checked{
    background-color: #F7F7F9;
    color: #02010A;
    padding: 10px 20px;
   
}
.button:hover{
    background-color: #F7F7F9;
    color: #02010A;
    padding: 10px 20px;
   
}
.button:active,
.button.is-checked {
  background-color: #F7F7F9;
}

@media (max-width: 680px), screen and (orientation: portrait) {
    .monospaced{
        font-size: 3.9em;
    }
    .grid {
        max-width: 95%;
        margin: 0 auto;
        
      }
  }

@media (max-width: 415px), screen and (orientation: portrait) {
    .monospaced{
        font-size: 4em;
    }
    .grid {
        max-width: 100%;
        }
    html { 
        overflow-y: scroll; 
    }
    hr{
        margin-bottom: 5px;
        max-width: 100%;
    }
    body { 
        font-family: sans-serif;
        background-color: #02010A;
        color: #F7F7F9; 
        max-width: 100vw;
    }
}